<div class="jumbotron jumbotron-assist">
    <h1>Assist Pivot</h1>
    <p>A tool for analyzing course equivalencies from the point of view of particular college course.</p>
</div>
<div class="notification-bar">
    <div class="notification-content">
        <!-- ko if: uw(notificationType) === "Load" -->
        <img src="~/Assets/load.gif" class="assist-icon">
        <!-- /ko -->
        <!-- ko if: uw(notificationType) === "Notice" -->
        <img src="~/Assets/notice.png" class="assist-icon">
        <!-- /ko -->
        <!-- ko if: uw(notificationType) === "Error" -->
        <img src="~/Assets/error.png" class="assist-icon">
        <!-- /ko -->
        <span data-bind="text:notificationText"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            Select a college:
            <select data-bind="options: colleges
                , optionsText: 'Name'
                , value: selectedCollege
                , optionsCaption: 'Select a college...'
            "></select>
        </div>
        <div>
            Select a year:
            <select data-bind="options: years
                , optionsText: 'Name'
                , value: selectedYear
                , optionsCaption: 'Select a year...'
            "></select>
        </div>
        <!-- ko if: uw(selectedCollege) && uw(selectedYear) && uw(selectedCollegeYearStatus) -->
        <div>
            <span data-bind="text:uw(selectedCollege).Name"></span> for year 
            <span data-bind="text:uw(selectedYear).Name"></span> was last updated
            <span data-bind="text:uw(selectedCollegeYearStatus).UpToDateAsOfPretty()" style="font-weight: bold"></span>.
            <!-- ko ifnot: uw(courses).length -->
            <div>
                Full update:
                <span id="checkbox">
                    <input type="checkbox" data-bind="checked: updateCheckboxValue, disable: updateCheckboxDisabled"/>
                    <!-- ko if: uw(updateCheckboxDisabled) && !uw(updateCheckboxValue) -->
                    <span class="recent-update-text" data-bind="text:uw(selectedCollegeYearStatus).NoUpdateReason"></span>
                    <!-- /ko -->
                    <!-- ko if: updateCheckboxValue -->
                    <span style="font-weight: bold">NOTE: Full updates can take up to an hour to complete. This college / year will not be available during the update.</span>
                    <!-- /ko -->
                </span>
            </div>
            <div>
                <button data-bind="click:process, disable: processLoading">Go</button>
            </div>
            <!-- /ko -->
        <!-- /ko --> 
        </div>
        <!-- /ko -->
        <!-- ko if: uw(courses).length -->
        <div style="margin-top: 1em">
            Select a course:
            <select data-bind="options: courses
                , value: selectedCourse
                , optionsCaption: 'Select a course...'
            " style="min-width: 150px"></select>
        </div>
        <!-- /ko -->
        <!-- ko if: selectedCourse -->
        <div style="margin-bottom:1em">
            Sort By: <button data-bind="click:sortRelasBy.bind({},'To')">To</button><button data-bind="click:sortRelasBy.bind({},'From')">From</button>
        </div>
        <!-- /ko -->
        <!-- ko foreach: courseRelationshipsFromSelected -->
        <div class="col-md-6 col-xs-12 row">
            <div class="col-xs-12">
                To: <span data-bind="text: ToCollegeName"></span>
                <span class="pull-right">From: <span data-bind="text: FromCollegeName"></span></span>
                @*<button data-bind="click: function() {debugger}"> dbg</button>*@
            </div>
            <div data-bind="template: {name: 'course-template', data: function() { return {
                 CourseWrapper: ToCourseSet
                 , Position: 'Left'}}}"></div>
            <div data-bind="template: {name: 'course-template', data: function() { return {
                 CourseWrapper: FromCourseSet
                 , Position: 'Right'}}}"></div>
        </div>
        <!-- /ko -->

    </div>

</div>
<hr />
<div class="row col-xs-12">
    <a href="#" data-bind="click: revealHelp.bind({}, !uw(revealHelp))">Something missing or broken?</a>
    <!-- ko if: revealHelp -->
    <!-- hidden away to avoid web scrappers. The irony is not lost on me. -->
    <!-- luckilly I dont have to put in any protection for a knockout exception since that will cause all the inline conditionals to no longer work -->
    <br>Send an email to <a href="mailto:nrooke42@gmail.com">nrooke42@gmail.com</a>
    <br>Please include a detailed description of the problem, any error messages, and a screenshot if possible.
    <!-- /ko -->
</div>