<div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 0; background-color:#CCCCCC; border-bottom-left-radius: 0; border-bottom-right-radius:0">
    <h1>Assist Pivot</h1>
    <p>A tool for analyzing course equivalencies from the point of view of particular college course.</p>
    @*<h2>But why tho</h2>
    <p>For the situations where you need a particular course to transfer or complete along side your existing coursework and you dont care where you complete it. This is particularly true for classes you intend to take online.</p>
    <p>Requests may happen immediately or may be up to a week old because we like assist and dont want to accidentally ddos them.</p>
    <p>Truthfully I'm mostly making this because I wanted to learn how to scrape / parse html pages, how to manage atypical data relationships, and cache management from the ground up.</p>*@
</div>
<div class="NotificationBar">
    <div class="NotificationContent">
        <!-- ko if: uw(notificationType) === "Load" -->
        LOADICON
        <!-- /ko -->
        <!-- ko if: uw(notificationType) === "Notice" -->
        NoticeIcon
        <!-- /ko -->
        <!-- ko if: uw(notificationType) === "Error" -->
        ErrorIcon
        <!-- /ko -->
        <span data-bind="text:notificationText"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            Select a college:
            <select data-bind="options: colleges
                , optionsText: 'Name'
                , value: selectedCollege
                @*, optionsCaption: 'Select a college...'*@
            "></select>
        </div>
        <div>
            Select a year:
            <select data-bind="options: years
                , optionsText: 'Name'
                , value: selectedYear
                , optionsCaption: 'Select a year...'
            "></select>
        </div>
        <!-- ko if: uw(selectedCollege) && uw(selectedYear) && uw(selectedCollegeYearStatus) -->
        <div>
            <span data-bind="text:uw(selectedCollege).Name"></span> for year 
            <span data-bind="text:uw(selectedYear).Name"></span> last updated
            <span data-bind="text:uw(selectedCollegeYearStatus).UpToDateAsOfPretty()" style="font-weight: bold"></span>.
            <!-- ko ifnot: uw(courses).length -->
            <div>
                Full update:
                <span id="checkbox">
                    <input type="checkbox" data-bind="checked: updateCheckboxValue, disable: updateCheckboxDisabled"/>
                    <!-- ko if: uw(updateCheckboxDisabled) && !uw(updateCheckboxValue) -->
                    <span class="recentUpdateText" data-bind="text:uw(selectedCollegeYearStatus).NoUpdateReason"></span>
                    <!-- /ko -->
                    <!-- ko if: updateCheckboxValue -->
                    <strong>NOTE: Full updates can take up to an hour to complete. This college / year will not be available during the update.</strong>
                    <!-- /ko -->
                </span>
            </div>
            <div>
                <button data-bind="click:process, disable: processLoading">Go</button>
            </div>
            <!-- /ko -->
        <!-- /ko --> 
        </div>
        <!-- /ko -->
        <!-- ko if: uw(courses).length -->
        <div style="margin-bottom:1em">
            Select a course:
            <select data-bind="options: courses
                , value: selectedCourse
                , optionsCaption: 'Select a course...'
            " style="min-width: 150px"></select>
        </div>
        <!-- /ko -->
        <!-- ko foreach: courseRelationshipsFromSelected -->
        <div class="col-md-6 col-xs-12 row">
            <div class="col-xs-12">
                To: <span data-bind="text: ToCollegeName"></span>
                <span class="pull-right">From: <span data-bind="text: FromCollegeName"></span></span>
                @*<button data-bind="click: function() {debugger}"> dbg</button>*@
            </div>
            <div data-bind="template: {name: 'course-template', data: function() { return {
                 CourseWrapper: ToCourseSet
                 , Position: 'Left'}}}"></div>
            <div data-bind="template: {name: 'course-template', data: function() { return {
                 CourseWrapper: FromCourseSet
                 , Position: 'Right'}}}"></div>
        </div>
        <!-- /ko -->

    </div>

</div>
