<div class="jumbotron" style="">
    <h1>Assist Pivot</h1>
    <p>Assist Pivot is a tool for analyzing course equivalences from the point of view of particular college course rather than college to college</p>
    @*<h2>But why tho</h2>
    <p>For the situations where you need a particular course to transfer or complete along side your existing coursework and you dont care where you complete it. This is particularly true for classes you intend to take online.</p>
    <p>Requests may happen immediately or may be up to a week old because we like assist and dont want to accidentally ddos them.</p>
    <p>Truthfully I'm mostly making this because I wanted to learn how to scrape / parse html pages, how to manage atypical data relationships, and cache management from the ground up.</p>*@
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            Select a college:
            <select data-bind="options: colleges
                , optionsText: 'Name'
                , value: selectedCollege
                @*, optionsCaption: 'Select a college...'*@
            "></select>
            
            <span>TODO spinner</span>
        </div>
        <div>
            Select a year:
            <select data-bind="options: years
                , optionsText: 'Name'
                , value: selectedYear
                @*, optionsCaption: 'Select a year...'*@
            "></select>
        </div>
        <div>
            <button data-bind="click:processCourse">Go</button>
        </div>
        <div>
            This data was last updated --TODO datetime--. 
            <br />--TODO conditional on showing this next passage bound by date-- <button>Force Update</button>

        </div>
        <div data-bind="if: uw(courses).length">
            Select a course:
            <select data-bind="options: courses
                , optionsText: 'Name'
                , value: selectedCourse
                @*, optionsCaption: 'Select a course...'*@
            "></select>
            
        </div>

    </div>

</div>
