<script type="text/html" id="course-template">
    <div class="col-xs-6" style="margin-bottom: 1em" data-bind="css: {'left-course-pad': Position === 'Left', 'right-course-pad': Position === 'Right'}">
        <div style="background-color:#EEEEEE; padding: 5px;" data-bind="css: {'left-course-round': Position === 'Left', 'right-course-round': Position === 'Right'}">
            <div><span data-bind="text: CourseWrapper.Data" class="course-wrapper"></span></div>
        </div>
    </div>
</script>